body {
    margin: 0;
    /* background-color: aquamarine; */
}

body, a, p {
    font-size: small;
    font-family: arial, sans-serif;
}

a {
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
}

#header {
    /* background-color: gray; */
    margin-top: 23px;
    margin-left: 12px;
    margin-right: 12px;
    height: 35px;
}

#header_left {
    /* background-color: red; */
    float: left;
    height: 35px;
}

#header_right{
    /* background-color: blue; */
    float: right;
    height: 35px;
}

#content {
    /* background-color: yellow; */
    margin-top: 100px;
    text-align: center;
}

#content img {
    display: block;
}

input {
    width: 484px;
    display: block;
    margin: 30px 0px;
}

button {
    height: 36px;
    margin-left: 5px;
}

#footer {
    /* background-color: navajowhite; */
    bottom: 0;
    position: fixed;
    height: 35px;
    width: 100%;
    font-size: 14px;
    line-height: 40px;
    background: #f2f2f2;
    border-top: 1px solid #e4e4e4;
}

#footer_left {
    float: left;
}

#footer_left a{
    color: #5f6368;
}

#footer_right {
    float: right;
    margin-right: 30px;
}

#footer_right a {
    color: #5f6368;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    margin-left: 13px;
    display: inline;
}

